<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>REST Consumer</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/patientheader :: patientheader"></div>

  <div class="container-fluid">
    <h2 class="text-center">[[${pageTitle}]]</h2>

    <div class="my-3">
      <form th:action="@{/patientdetail/save}" method="post" enctype="multipart/form-data" th:object="${patientDetail}"
        style="max-width: 550px; margin: 0 auto"
        id="confirmationForm" onsubmit="return confirm('Patient already registered. Do you want to view patients list? ')">

        <input type="hidden" th:field="*{patientID}" />

<!-- <div class="form-group row"> -->
<!--   <label class="col-sm-3 col-form-label" for="patientID">ID</label> -->
<!--   <div class="col-sm-9"> -->
<!--     <span th:text="*{patientID}" class="form-control font-weight-bold" id="patientID"></span> -->
<!--   </div> -->
<!-- </div> -->


  <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="patientICNumber">IC Number</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{patientICNumber}" minlength="12" maxlength="12" class="form-control"
                id="patientICNumber" required />
                <span th:if="${errorMessage}" class="text-danger" th:text="${errorMessage}"></span>
            </div>
          </div>
        
                    <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="patientName">Name</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{patientName}" minlength="2" maxlength="256" class="form-control"
                id="patientName" required />
            </div>
          </div>
          
                    <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="patientPhoneNumber">Phone Number</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{patientPhoneNumber}" minlength="8" maxlength="11" class="form-control"
                id="patientPhoneNumber" />
            </div>
          </div>
          
                    <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="patientAge">Age</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{patientAge}" minlength="1" maxlength="2" class="form-control"
                id="patientAge" required />
            </div>
          </div>
                   <div class="form-group row">
  <label class="col-sm-3 col-form-label" for="patientGender">Gender</label>
  <div class="col-sm-9">
    <select th:field="*{patientGender}" class="form-control" id="patientGender">
      <option value="L">Male</option>
      <option value="P">Female</option>
    </select>
  </div>
</div>
                     <div class="form-group row">
            <label class="col-sm-3 col-form-label" for="patientAddress">Address</label>
            <div class="col-sm-9">
              <input type="text" th:field="*{patientAddress}" minlength="1" maxlength="256" class="form-control"
                id="patientAddress" required />
            </div>
          </div>


          <div class="text-center">
            <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
           <!--   <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm"  />  -->
            <a th:href="@{/mainmenu}" class="btn btn-secondary btn-sm">Cancel</a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/patientdetail/list}]]";
      });
    });
  </script>

</body>

</html>