<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>REST Consumer</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style1.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/patientheader :: patientheader"></div>

  <div class="container-fluid" style="max-width: 1000px; margin: 0 auto;">
    <h2 class="text-center">Appointment List </h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>




    <div th:if="${apptList.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Appointment ID</th>
            <th scope="col">Date </th>
        	<th scope="col" >Patient Name</th>
        	<th scope="col">Doctor Name </th>
            <th scope="col">Room </th>
            <th scope="col">Start Time </th>
             <th scope="col">End Time </th>

            
 
          </tr>
        </thead>
        <tbody>
          <tr th:each="Apptlist : ${apptList}">
            <th scope="row">[[${Apptlist.appointmentID}]]</th>
              <td>[[${Apptlist.date}]]</td>
    	    <td>[[${Apptlist.patientID.patientName}]]</td>
            <td>[[${Apptlist.roomSlotID.roomID.doctorID.doctorName}]]</td>
            <td>[[${Apptlist.roomSlotID.roomID.roomName}]]</td>
            <td>[[${Apptlist.roomSlotID.timeStart}]]</td>
       	    <td>[[${Apptlist.roomSlotID.timeEnd}]]</td> 
            
           <td>
             
               <a th:href="@{'/appointments/' + ${Apptlist.appointmentID}}" 
              	title="Edit Or Reschedule Appointment"
                class="fa-regular fa-pen-to-square icon-dark"></a>
              &nbsp;
              
             
    <!--           <a th:href="@{'/patientdetail/delete/' + ${patientDetail.patientID}}" 
              th:patientID="${patientDetail.patientID}" id="btnDelete"
                title="Delete this order type" 
                class="fa-regular fa-trash-can icon-dark btn-delete"></a> 
--> 
			

            </td> 
          </tr>
        </tbody>
      </table>
    </div>

<!--    <div class="" th:unless="${patientDetails.size() > 0}">
      <span>No record found!</span>
    </div>
     --> 
  </div>

<!--    <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
  
  -->

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
   $(document).ready(function () {
	   <!--     $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        patientID = link.attr("appointmentID");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the  \<strong\>" + patientID + "\<\/strong\>?");
        $("#confirmModal").modal();
      }); -->

      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/patientdetail/list}]]";
      });
    });
  </script>

</body>

</html>