<!DOCTYPE html>
<html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Doctor List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <script>
        function searchDoctors() {
            // Retrieve the search query
            var input = document.getElementById("searchInput");
            var filter = input.value.toUpperCase();
            
            // Get the table rows
            var table = document.getElementById("doctorTable");
            var rows = table.getElementsByTagName("tr");
            
            // Loop through the rows and hide those that don't match the search query
            for (var i = 1; i < rows.length; i++) { // Start at index 1 to skip the header row
                var doctorName = rows[i].getElementsByTagName("td")[1];
                if (doctorName) {
                    var name = doctorName.textContent || doctorName.innerText;
                    if (name.toUpperCase().indexOf(filter) > -1) {
                        rows[i].style.display = "";
                    } else {
                        rows[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<header>
    <h1>Doctor List</h1>
</header>

<nav class="navbar navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" id="searchInput" onkeyup="searchDoctors()" placeholder="Search For Doctor" aria-label="Search">
  </form>
</nav>



<table id="doctorTable">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>IC Number</th>
        <th>Phone Number</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
    </tr>

    <!-- Loop through doctors and display their information -->

    <tr th:each="doctor : ${Doctors}">
        <td th:text="${doctor.doctorID}"></td>
        <td th:text="${doctor.doctorName}"></td>
        <td th:text="${doctor.doctorICNumber}"></td>
        <td th:text="${doctor.doctorPhoneNum}"></td>
        <td th:text="${doctor.doctorAge}"></td>
        <td th:text="${doctor.doctorGender}"></td>
        <td th:text="${doctor.doctorAddress}"></td>
    </tr>
</table>

<footer>
    <p>&copy; Dermatologist Department</p>
</footer>
</body>
</html>
