<header th:fragment="patientheader">
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/patientdetail/list}">
      Hospital Appointment
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/mainmenu}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/patientdetail/0}">Add New Patient</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/appointments/0}">Add New Appointment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/patientdetail/list}">Patients List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/appointments/appointmentList}">Appointments List</a>
        </li>
      </ul>
      
      <form th:action="@{/patientdetail/search}" method="get" class="ml-auto">
        <div class="d-flex align-items-center">
<!--           <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control mr-2" -->
<!--             style="flex: 1;" placeholder="Enter keyword"> -->
<!--           <button type="submit" class="btn btn-secondary mr-2">Search</button> -->
<!--           <button id="btnClear" class="btn btn-info">Clear</button> -->
        </div>
      </form>
    </div>
  </nav>
</header>
